#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header #img-photographer img {
    border-radius: 50%;
}

.photograph-header h2 {
        color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.photograph-header .city {
        font-size: 24px;
        margin: 0;
    color: #901C1C;
}

.photograph-header .tagline {
    font-size: 18px;
    color: #525252;
    margin: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#photographer-media .media img:first-child {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;

}

#photographer-media {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

#photographer-media .media {
    width: 350px;
}

#photographer-media .media video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;

}

#photographer-media .details {
    display: flex;
    justify-content: space-between;

}

#photographer-media .details p {
    color: #901C1C;
    margin: 0;
}

#photographer-media .media .like {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rightDown {
    position: fixed;
    right: 20px;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    width: 220px;
    justify-content: space-evenly;
    padding: 10px 15px;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
}

.rightDown div:not(:first-child) {
    display: flex;
}